@using BlazorServerApp.Models.Wordle

<div class="kb-row">
    @foreach (var key in Keys.Where(IsTopRow))
    {
        <WordleKey KeyModel="key" OnPressed="OnKeyPressed" />
    }
</div>

<div class="kb-row">
    <div style="width:16px; height:56px;"></div>
    @foreach (var key in Keys.Where(IsMiddleRow))
    {
        <WordleKey KeyModel="key" OnPressed="OnKeyPressed" />
    }
    <div style="width:16px; height:56px;"></div>
</div>

<div class="kb-row">
    @foreach (var key in Keys.Where(IsBottomRow))
    {
        <WordleKey KeyModel="key" OnPressed="OnKeyPressed" />
    }
</div>

@code {
    [Parameter, EditorRequired] public IReadOnlyList<KeyModel> Keys { get; set; } = Array.Empty<KeyModel>();
    [Parameter] public EventCallback<string> OnKeyPressed { get; set; }

    private static bool IsTopRow(KeyModel k) => "QWERTYUIOP".Contains(k.Label);
    private static bool IsMiddleRow(KeyModel k) => "ASDFGHJKL".Contains(k.Label);
    private static bool IsBottomRow(KeyModel k) => k.Label is "Enter" or "Back" || "ZXCVBNM".Contains(k.Label);
}