<div class="legend">
    <div class="legend-item">
        <div class="legend-dot correct"></div><span>Correct Spot</span>
    </div>
    <div class="legend-item">
        <div class="legend-dot present"></div><span>Wrong Spot</span>
    </div>
    <div class="legend-item">
        <div class="legend-dot absent"></div><span>Not in Word</span>
    </div>
</div>